*,
*::after,
*::before {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  margin: 1rem;
}

.spinner {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.6;
  /* font-size: 1rem; */
  overflow: hidden;
  position: relative;
  animation: text-color 2s ease-in-out infinite alternate;
}
.spinner-children {
  flex-direction: column;
  text-align: center;
}
.spinner-children p {
  margin: 0;
}

.spinner-sector {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 15px solid transparent;
  mix-blend-mode: overlay;
  animation: rotate var(--duration) var(--timing) infinite;
  pointer-events: none;
}

.spinner-sector-red {
  border-top-color: #b9e472;
  --duration: 1.5s;
  --timing: ease-in-out;
}

.spinner-sector-blue {
  border-left-color: #f3f3f3;
  --duration: 2s;
  --timing: ease-in;
}

.spinner-sector-green {
  border-right-color: #233b4b;
  --duration: 2.5s;
  --timing: ease-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes text-color {
  0% {
    color: rgba(0, 0, 0, 1);
  }

  50% {
    color: rgba(0, 0, 0, 0.6);
  }

  100% {
    color: rgba(0, 0, 0, 0.2);
  }
}

.tips {
  text-align: center;
  padding: 1rem;
}
